{% load static %}
<footer
  class="border-gray mt-24 space-y-8 border-t py-6 px-4"
>
  <section class="space-y-12 md:flex md:justify-evenly md:gap-x-4 md:space-y-0">
    <div>
      <h2>Himawari Sushi</h2>
      <p>Authentic Japanese cuisine</p>
    </div>

    <div class="space-y-8 md:flex md:justify-evenly md:gap-x-16 md:space-y-0">
      <!-- Navigation links -->
      <nav
        aria-label="secondary nav menu"
        class="space-y-8 md:flex md:flex-col md:gap-y-4"
      >
        <div>
          <h2 class="text-lg font-medium">Main Menu</h2>
          <ul
            class="[&_a]:block [&_a]:border-b [&_a]:border-transparent [&_a]:transition-colors md:[&_a]:inline-block [&_a:hover]:border-black [&_li]:py-1 md:[&_li]:py-0.5"
          >
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'booking_create' %}">Book</a></li>
          </ul>
        </div>
        <div>
          <h2 class="text-lg font-medium">Information</h2>
          <ul
            class="[&_a]:block [&_a]:border-b [&_a]:border-transparent [&_a]:transition-colors md:[&_a]:inline-block [&_a:hover]:border-black [&_li]:py-1 md:[&_li]:py-0.5"
          >
            <li><a href="{% url 'contact' %}">Contact us</a></li>
            <li><a href="{% url 'reservations' %}">Reservations</a></li>
          </ul>
        </div>
      </nav>

      <!-- Business information -->
      <div>
        <h2 class="text-lg font-medium">Find us</h2>
        <dl class="mt-1 space-y-4">
          <div>
            <dt class="text-black-base">Address</dt>
            <dd>1234 Main St.</dd>
          </div>

          <div>
            <dt class="text-black-base">Phone</dt>
            <dd>+1 (555) 555-5555</dd>
          </div>

          <div>
            <dt class="text-black-base">Opening Hours</dt>
            <dd>Mon - Sat: 13:00 - 22:00</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
  <!-- Social media links and copyright -->
  <div
    class="items-center space-y-4 md:flex md:justify-evenly md:space-y-0"
  >
    <!-- social icons / links -->
    <div
      class="flex h-16 gap-x-2 text-black-base [&_a]:rounded-full [&_a]:bg-tertiary/30 [&_a]:py-1 [&_a]:px-0.5 [&_a]:transition-colors [&_svg]:mt-[50%]"
    >
      <!-- facebook link -->
      <a
        href="https://facebook.com"
        rel="noopener noreferrer"
        target="_blank"
        class="!bg-tertiary text-white hover:text-black-base"
        aria-label="Visit our Facebook page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="26"
          height="26"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"
          ></path>
        </svg>
      </a>
      <!-- instagram link -->
      <a
        href="https://instagram.com"
        rel="noopener noreferrer"
        target="_blank"
        class="hover:bg-tertiary hover:text-white"
        aria-label="Visit our Instagram page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="26"
          height="26"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
          ></path>
        </svg>
      </a>
      <!-- twitter link -->
      <a
        href="https://twitter.com"
        rel="noopener noreferrer"
        target="_blank"
        class="hover:bg-tertiary hover:text-white"
        aria-label="Visit our Twitter page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="26"
          height="26"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"
          ></path>
        </svg>
      </a>
    </div>

    <div>Copyright © {% now 'Y' %} Himawari Sushi All rights reserved</div>
    <!-- Card payments excepted -->
    <div
      class="[&_div]:border-gray flex gap-x-4 [&_div]:rounded [&_div]:border [&_div]:px-2 [&_div]:py-0.5"
    >
      <div class="grid place-items-center">
        <img src='{% static 'icons/stripe.svg' %}' loading='lazy' alt='stripe
        logo' width=50 height='21'>
      </div>

      <div class="grid place-items-center">
        <img src='{% static 'icons/visa.svg' %}' loading='lazy' alt='visa logo'
             width=50 height='21'>
      </div>

      <div>
        <img src='{% static 'icons/paypal.svg' %}' loading='lazy' alt='paypal
        logo' width='27' height='32'>
      </div>
    </div>
  </div>
</footer>
