{% load static %}
<meta name="theme-color" content="#362B2E">
<meta name="keywords" content="Himawari Sushi, Authentic sushi, japanese cuisine ">
<meta name="author" content="Himawari Sushi">
<meta name="msapplication-TileColor" content="#362B2E">
<meta name="application-name" content="Himawari Sushi">
<meta name="apple-mobile-web-app-title" content="Himawari Sushi">
<meta name="apple-mobile-web-app-status-bar-style" content="#FF9C24">

<link rel="icon" href="{% static 'favicons/favicon.svg' %}" type="image/svg+xml">
<link rel="shortcut icon"  href="{% static 'favicons/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="16x16"  href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="icon" type="image/png" sizes="32x32"  href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
<link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#362B2E">
