{% load django_vite %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    {% vite_hmr_client %} {% vite_asset 'js/login.ts' %}
    <title>{% block title %}Himawari Sushi {% endblock %}</title>
  </head>
  <body class="bg-neutral-700">
    <main class="grid h-max sm:h-full w-full place-items-center p-8">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
