@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------
  Table of contents
  1. Base styles
  2. Components
  3. Pages
  4. Elements
--------------------------*/

/*----------------------- Base styles --------------------------*/
/* 1. Base styles */
@layer base {
  :root {
    --color-primary: 36 38% 97%;
    --color-tertiary: 33 74% 57%;
    --color-black-base: 344 11% 19%;
    --color-gray-base: 0 1% 40%;
  }

  body {
    @apply flex
    min-h-screen
    flex-col
    overflow-x-hidden
    bg-primary
    text-gray-base;
  }

  main,
  :first-of-type section {
    @apply flex-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }
}

/*----------------------- 2. Components --------------------------*/

@layer components {
  /* Button */
  .btn {
    @apply rounded-full
    bg-tertiary
    py-2
    px-4
    font-semibold
    text-white;
  }
  /* dialogs / modals */
  dialog[open] {
    @apply grid h-max w-3/4 max-w-sm gap-y-4 rounded-xl  py-8 text-center shadow-2xl;
  }
}

/*----------------------- 3. Elements --------------------------*/

/* Mobile Navigation button */
#nav-button span {
  @apply mb-1
  block
  h-0.5
  w-6
  transform-gpu
  rounded
  bg-black
  transition-all
  duration-150
  ease-in-out
  last:mb-0;
}

/* Mobile Navigation button open */
#nav-button[aria-expanded='true'] {
  & span:nth-child(1) {
    @apply origin-left
    translate-x-0.5
    -translate-y-[4px]
    rotate-45
    scale-x-125;
  }

  & span:nth-child(2) {
    @apply invisible;
  }

  & span:nth-child(3) {
    @apply origin-right
    -translate-y-[16px]
    -rotate-45
    scale-x-[1.25];
  }
}


/* Forms */

/*
  Note: classes are prefixed to form elements by Django context processor
*/

/* signup form */
.signup-form {
  @apply space-y-7 sm:mx-auto sm:w-10/12;

  input,
  textarea {
    @apply w-full
    rounded-lg
    border
    border-gray-500
    px-3
    py-5
    focus:border-tertiary
    focus:outline-none
    focus:ring-2
    focus:ring-tertiary;

    &[type='submit'] {
      @apply max-w-lg
      border-none
      bg-tertiary
      text-black;
    }
  }

  label {
    @apply text-gray-300;
  }

  /* Django form help text */
  .helptext {
    @apply hidden;
  }
}

/* base form */
.base-form {
  @apply space-y-12
  rounded-lg
  rounded-lg
  bg-white
  p-8
  shadow-xl;

  label:not([for='id_phone_number']):not([for='id_message'])::after {
    content: ' *';
    @apply text-red-500;
  }

  input:not([type='submit']) {
    @apply mx-auto
    w-full
    border-b
    border-gray-300
    bg-inherit
    py-2
    focus:border-b-tertiary
    focus:outline-none;
  }

  input[type='submit'],
  a {
    @apply mx-auto
    block
    w-full
    max-w-lg
    rounded-lg
    py-2
    text-white;
  }

  input[type='submit'] {
    @apply border-none
    bg-tertiary;
  }

  textarea {
    @apply mx-auto
    block
    w-full
    rounded-lg
    border
    border-gray-500
    bg-white
    px-3
    py-5
    focus:border-tertiary
    focus:outline-none
    focus:ring-2
    focus:ring-tertiary;
  }
}

form ul.errorlist li {
  @apply text-red-500;
}
