{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    {% vite_hmr_client %} {% vite_asset 'js/main.ts' %}
    {% if user.is_authenticated %}
      {% block dialog_js %} {%endblock %}
    {% endif %}
    <title>{% block title %}Himawari Sushi {% endblock %}</title>
  </head>
  <body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- Dialog for logout -->
    {% include 'partials/messages/logout_dialog.html' %}
  </body>
</html>